<!DOCTYPE html>
<!-- TODO Make 'lang' and 'xml:lang' attributes responsive!-->
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gremi-O-Mat</title>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kumbh+Sans" />
</head>

<body>
    <!-- Background Logo -->
    <object id="asta-logo-bw" data="./assets/svg/AStA_Logo/LogoBW.svg" type="image/svg+xml"></object>
    <!-- Logo Top Left -->
    <object id="asta-logo" class="ml-4 mt-4" data="./assets/svg/AStA_Logo/Logo.svg" type="image/svg+xml"></object>

    <!-- Begin Cookie info -->
    <div class="modal fade cookieModal" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 id="cookieModalLabel">Information</h2>
                </div>
                <div class="modal-body">
                    <h4>Cookie Richtlinien</h4>
                    <p>Diese Website verwendet ausschließlich essentielle Cookies.</p>
                    <p>
                        <a href="/privacy-statement" target="_blank">Mehr dazu</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="cookieModalConsent" type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Accept</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cookie info -->
    <!-- Begin Content -->
    <div class="container content">
        <div class="row">
            <div class="col-6 text-right pr-5">
                <img class="info-pp" src="./assets/img/pp.jpg" alt="">
            </div>
            <div class="col-6 pt-5">
                <h2>MAX<br>MUSTERMANN</h2>
                <p class="mb-3 text-justify">
                    Kandidat für den Fachschaftsrat (FSR)
                </p>
            </div>
        </div>
    </div>

    <!-- Short info-->
    <div class="container content">
        <div class="row mb-4">
            <div class="col-sm px-5 text-center mb-5">
                <h4>ÜBER MICH</h4>
                <p class="mb-3  text-justify">
                    Der Fachschaftsrat hat immer ein offenes Ohr für dich, wenn du Fragen oder Probleme im Studium, mit Professor*innen oder der Hochschulverwaltung hast. Auch wenn es dir schlecht geht und du nicht weiter weißt, kannst du dich immer an deine Fachschaft wenden.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid content mt-2 fm">
        <div class="row">
            <div class="col-12 text-center">
                <h4>MEINE MEINUNG</h4>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 text-center mb-5">
                <!-- Query Table -->
                <div class="result-table">
                    <table class="mx-auto table">
                        <!-- I am a table row! PLease generate friends for me!-->
                        <tr>
                            <td class="align-middle pl-5" scope="col">
                                <p>1.</p>
                            </td>
                            <td class="align-middle query-td" scope="col">
                                <div class="c-query pl-3 pt-2">
                                    <p>
                                        Hallo i bims die erste Frage! Hallo i bims die erste Frage!Hallo i bims die erste Frage!Hallo i bims Hallo i bims die erste Frage! Hallo i bims die erste Frage! Hallo i bims die erste Frage!Hallo. <a onclick="toggleContent()"
                                            href="javascript:void(0);"><strong>Mein Kommentar</strong></a>
                                    </p>
                                </div>
                                <div class="c-opinion" id="1-query-opinion">
                                    <p>
                                        <br> Ich finde das ist eine super Frage und überhaupt nicht nur ein Beispiel wie es später aussehen könnte!
                                    </p>
                                </div>
                            </td>
                            <td class="align-middle" scope="col">
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label style="pointer-events: none;" class="btn option-btn agree">
                    <input type="radio" name="opinion" id="agree" autocomplete="off">
                  </label>
                                    <label style="pointer-events: none;" class="btn option-btn neutral">
                    <input type="radio" name="opinion" id="neutral" autocomplete="off" checked>
                  </label>
                                    <label style="pointer-events: none;" class="btn option-btn disagree">
                    <input type="radio" name="opinion" id="disagree" autocomplete="off">
                  </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/pagePrototypes/result.html">
                    <button class="gremium-bttn my-2">Zurück zum Ergebnis</button>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid footer">
        <div class="row py-4">
            <!-- Link Homepage -->
            <div class="col-sm text-center pt-2">
                <p><a href="https://asta-hsrm.de/">AStA der Hochschule RheinMain</a></p>
            </div>
            <!-- Basic Social Media Icon Buttons -->
            <div class="col-sm text-center">
                <object class="sm-icon" data="./assets/svg/SocialMedia/twitter.svg" type="image/svg+xml"></object>
                <object class="sm-icon" data="./assets/svg/SocialMedia/fb.svg" type="image/svg+xml"></object>
                <object class="sm-icon" data="./assets/svg/SocialMedia/instagram.svg" type="image/svg+xml"></object>
            </div>
            <!-- Links Impressum | Datenschutz | Büro -->
            <div class="col-sm text-center pt-2">
                <p><a href="https://asta-hsrm.de/impressum">Impressum</a> | <a href="https://asta-hsrm.de/datenschutz">Datenschutz</a> | <a href="https://asta-hsrm.de/asta/buero/">Büro</a> </p>
            </div>
        </div>
    </div>



    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</body>

</html>