$color-primary:#BE1E2D;
$color-primary-hover:#ED1C24;
$text-color-secondary: #6C757D;
* {
    font-family: 'Roboto';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.btn-gremium {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: $color-primary;
    border-color: transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-gremium:hover {
    background-color: $color-primary-hover;
    border-color: $color-primary;
    color: white;
}

footer {
    flex-shrink: 0;
}

.fa {
    padding: 1vh;
    font-size: 1rem;
    width: 2.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    color: $text-color-secondary;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.fa:hover {
    color: white;
    background: $color-primary;
}

.card-body {
    padding: 1rem 0 0 1rem;
    transition: background-color .15s ease-in-out;
}

.card-body:hover {
    background: hsl(0, 0%, 97%);
}

.custom-btn-w {
    width: 15rem;
}

.disclaimer {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.text-sm {
    font-size: small;
}

.thumbnail-profile-img {
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .125);
}