<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|Admin · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/admin.html :: nav"></th:block>
    <!-- Main Content -->
    <main>
        <div class="container pt-5">
            <!-- Logo -->
            <div class="row pt-md-5">
                <div class="col-12 text-center">
                    <img th:src="@{/assets/img/LogoB.svg}" alt="AStA Logo" width="100">
                </div>
            </div>
            <!-- Title -->
            <div class="row pt-5">
                <div class="col-12 text-center">
                    <h1 th:text="#{nav.admin}"></h1>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div class="col-12 col-lg-6 text-center">
                    <p>
                        <span th:text="#{admin.info}"></span>
                    </p>
                </div>
            </div>
            <!-- Gremium Buttons -->
            <div class="row justify-content-md-center my-3">
                <div class="col-12 text-center">
                    <a class="btn btn-dark custom-btn-w" th:href="@{/admin/users}" th:text="#{nav.users}"></a>
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col-12 text-center">
                    <a class="btn btn-dark custom-btn-w" th:href="@{/admin/gremien}" th:text="#{nav.gremien}"></a>
                </div>
            </div>
            <div class="row justify-content-md-center my-3">
                <div class="col-12 text-center">
                    <a class="btn btn-dark custom-btn-w" th:href="@{/admin/queries}" th:text="#{nav.queries}"></a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>