<!DOCTYPE html>

<!-- TODO Make 'lang' and 'xml:lang' attributes responsive!-->
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/assets/favicon/favicon.ico}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" />
    <title th:text="#{title} + ' | ' + #{org}"></title>
    <link th:href="@{/assets/css/stylesheet.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Kumbh+Sans"
    />
  </head>
  <body>
    <h1>Gremien-Overview</h1>
    <div th:each ="gremium : ${gremienList}">
      <p><a th:href="@{/admin/gremien/__${gremium.abbr}__}" th:text="|${gremium.name} [${gremium.abbr}]|"></a> | <a th:href="'/admin/gremien/' + ${gremium.abbr} + '/edit'">Edit</a></p>
    </div>
    <a th:href=@{/admin/gremien/new}>New Gremium</a><br/>
    <a th:href=@{/admin}>Back to admin area</a><br/>
    <a th:href=@{/logout}>Logout</a>
  </body>
</html>
