<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|Admin · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/admin.html :: nav"></th:block>
    <!-- Main Content -->
    <main>
        <div class="container-fluid pt-5 px-3">
            <!-- Title -->
            <div class="row pt-4">
                <div class="col-12 text-center">
                    <h1 th:text="${gremium.name}"></h1>
                    <p class="form-text" th:text="#{admin.help.gremium}"></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <span th:text="${gremium.description}"></span>
                </div>
            </div>
        </div>
        <th:block th:insert="fragments/admin.html :: queries(${gremium.queries})"></th:block>
        <div class="container">
            <!-- Candidate Heading -->
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3 th:text="#{info.candidates}"></h3>
                    <p class="form-text" th:text="#{admin.help.candidates}"></p>
                </div>
            </div>
            <!-- Candidate List -->
            <th:block th:each="c : ${gremium.candidates}">
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-5 col-12">
                        <a class="text-decoration-none text-black" th:href="@{/admin/users/__${c.id}__}">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-2 text-center text-lg-start">
                                            <img class="thumbnail-profile-img"
                                                th:src="${c.getPhoto() != null} ? @{/api/v1/photo/__${c.id}__} : @{/assets/img/placeholder.jpg}"
                                                alt="Profile picture" />
                                        </div>
                                        <div class="col-12 col-lg-10 text-center text-lg-start">
                                            <p class="pt-2">
                                                <span class="card-text text-"
                                                    th:text="${c.age le 0} ? |${c.firstname} ${c.lastname}| : |${c.firstname} ${c.lastname}, ${c.age}|"></span><br />
                                                <span class="text-secondary"
                                                    th:text="${c.semester le 0 || c.course eq ''} ? #{candidate.student} : |${c.semester}. Semester, ${c.course}|"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </main>
    <th:block th:insert="fragments/admin.html :: gremiumOffCanvas"></th:block>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>