<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|Admin · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/admin.html :: nav"></th:block>
    <!-- Main Content -->
    <main class="mt-5">
        <th:block th:insert="fragments/admin.html :: csv('/admin/queries/csv')"></th:block>
        <th:block th:insert="fragments/admin.html :: queries(${allQueries})"></th:block>
    </main>

    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>