<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|Admin · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/nav-admin.html"></th:block>
    <!-- Main Content -->
    <main>
        <div class="container card bg-dark text-light p-4 my-5" style="max-width: 600px;">
            <h3 class="my-3" th:text="#{edit.query}"></h3>
            <form th:method="POST" th:object="${form}" th:action="@{__${#httpServletRequest.requestURI}__}">
                <div class="col-12 mb-3"
                    th:if="not ${#strings.contains(#httpServletRequest.requestURI, '/' + abbr + '/queries/new')}">
                    <label th:text="#{gremium}"></label>
                    <select class="form-select" name="gremien" id="gremien" th:field="*{gremien}" multiple>
                        <option th:each="g : ${allGremien}" th:value="${g.abbr}"><span th:text="${g.name}"></span>
                        </option>
                    </select>
                </div>
                <div class="col-12 mb-4">
                    <label for="txt" th:text="#{query.txt}"></label>
                    <textarea th:field="*{txt}" class="form-control" id="txt" style="min-height: 15rem;"
                        required></textarea>
                </div>
                <div class="d-grid gap-3 mb-3">
                    <button class="btn btn-success" type="submit" th:text="#{save}"> </button>
                </div>
                <div class="d-grid gap-3 mb-3" th:if="not ${#strings.contains(#httpServletRequest.requestURI, '/new')}">
                    <a class="btn btn-danger link-light" th:text="#{query.delete}"
                        th:href="@{/admin/gremien/__${abbr}__/queries/__${query.id}__/delete}"
                        onclick="return confirm('Are you sure you want to permanently delete this query?')">
                    </a>
                </div>
                <div class="d-grid gap-3 mb-3">
                    <a class="btn btn-secondary link-light" th:text="#{edit.cancel}"
                        th:href="@{/admin/gremien/__${abbr}__}">
                    </a>
                </div>
            </form>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>