<!DOCTYPE html>

<html
  lang="de"
  xml:lang="de"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/assets/favicon/favicon.ico}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" />
    <title th:text="#{title} + ' | ' + #{org}"></title>
    <link th:href="@{/assets/css/stylesheet.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Kumbh+Sans"
    />
  </head>
  <body>
    <h1>Query Edit</h1>
    <form th:method="POST" th:object="${form}" th:action="@{__${#httpServletRequest.requestURI}__}">
      <input type="hidden" th:field="*{id}" value="${query.id}">
      <textarea
        th:field = "*{queryTxt}"
        id="queryTxt"
      ></textarea>
      <br />
      <div th:each ="grem : ${allGremien}">
        <input type="checkbox" th:value = "${grem}" th:text = "${grem.name}" th:field = "*{gremien}"></option>
      </div>
      <button type="submit" name="save">Save</button>
      <button type="submit" name="del">
        Delete
      </button>
    </form>
  </body>
</html>
