<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|Admin · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/admin.html :: nav"></th:block>
    <!-- Main Content -->
    <main>
        <div class="container p-3">
            <div class="container mb-5">
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-lg-5 text-center">
                        <h3 th:text="#{admin.lock}"></h3>
                        <p class="form-text" th:text="#{admin.lock.help}"></p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <a class="btn btn-dark my-1" th:href="@{/admin/users/lock}"
                            onclick="return confirm('Are you sure you want to toggle the locking of all user accounts?')"
                            th:text="${usersLocked} ? #{admin.button.unlock} : #{admin.button.lock}"></a>
                    </div>
                </div>
            </div>
            <th:block th:insert="fragments/admin.html :: csv('/admin/users/csv')"></th:block>
            <div class="row">
                <div class="col-12 text-center">
                    <h3 th:text="#{nav.users}"></h3>
                    <p class="form-text" th:text="#{admin.help.users}"></p>
                </div>
            </div>
            <!-- Candidate List -->
            <th:block th:each="u : ${allUsers}">
                <div class="row justify-content-center mb-2">
                    <div class="col-lg-5 col-12">
                        <a class="text-decoration-none text-black" th:href="@{/admin/users/__${u.username}__}">
                            <div class="card bg-light">
                                <div class="p-3">
                                    <div class="row">
                                        <div class="col-12 col-lg-2 text-center text-lg-start">
                                            <img class="thumbnail-profile-img mt-2"
                                                th:src="${u.details?.getPhoto() != null} ? @{/api/v1/photo/__${u.details?.id}__} : @{/assets/img/placeholder.jpg}"
                                                alt="Profile picture" />
                                        </div>
                                        <div class="col-12 col-lg-10 text-center text-lg-start">
                                            <p class="mb-0">
                                                <strong th:text="${u.username}"></strong>
                                                <br />
                                                <span
                                                    th:text="${u.details != null} ? |${u.details?.firstname} ${u.details?.lastname}| : ''"></span>
                                                <br th:if="${u.details != null}" />
                                                <span class="text-secondary"
                                                    th:text="${u.details?.courseShowing} ? |${u.details?.semester}. Semester, ${u.details?.course}| : #{candidate.student}"></span>
                                                <br>
                                                <span class="badge bg-dark" th:text="${u.role}"></span>
                                                <th:block th:if="${u.details != null}">
                                                    <span class="badge bg-secondary" th:each="g : ${u.details.gremien}"
                                                        th:text="${g.abbr}"></span>
                                                </th:block>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
            <div class="row justify-content-center mt-3">
                <div class="col-12 text-center">
                    <a class=" btn btn-dark" data-bs-toggle="modal" href="#newUserModal" role="button"
                        aria-controls="newUserModalLabel" th:text="#{admin.new.user}"></a>
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" id="newUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:method="POST" th:action="@{/admin/users/new}" th:object="${form}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newUserModalLabel" th:text="#{admin.new.user}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0">
                        <div class="mb-3">
                            <label for="role" th:text="#{type}"></label>
                            <select class="form-select" th:field="*{role}" name="role" required>
                                <option value="USER" th:text="#{candidate}" selected></option>
                                <option value="ADMIN" th:text="#{admin}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fname" th:text="#{firstname}"></label>
                            <input th:field="*{firstname}" th:placeholder="#{placeholder.firstname}" type="text"
                                class="form-control" id="fname" required>
                        </div>
                        <div class="mb-3">
                            <label for="lname" th:text="#{lastname}"></label>
                            <input th:field="*{lastname}" th:placeholder="#{placeholder.lastname}" type="text"
                                class="form-control" id="lname" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" th:text="#{email}"></label>
                            <input th:field="*{email}" th:placeholder="#{placeholder.email}" type="email"
                                class="form-control" id="email" required>
                        </div>
                    </div>
                    <div class="row justify-content-center p-3 pt-0">
                        <div class="col-12 col-lg-6 text-center mt-2">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-dark" th:text="#{save}"></button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center mt-2">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"
                                    th:text="#{edit.cancel}"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>