<!DOCTYPE html>

<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/favicon/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" />
    <title th:text="#{title} + ' | ' + #{org}"></title>
    <link th:href="@{/assets/css/stylesheet.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kumbh+Sans" />
</head>

<body>
    <table>
        <tr>
            <p><a th:href="@{/admin/users/lock}"  onclick="return confirm('Are you sure?')">Lock all Users</a>  <a th:href="@{/admin/users/new}">Create new User</a></p>
        </tr>
        <tr>
            <th id="uid" th:text="#{username}"></th>
            <th id="firstname" th:text="#{firstname}"></th>
            <th id="lastname" th:text="#{lastname}"></th>
        </tr>
        <th:block th:each="user : ${allUsers}">
            <tr>
                <td th:text="${user.username}"></td>
                <td th:text="${user.details.firstname}"></td>
                <td th:text="${user.details.lastname}"></td>
                <td><a th:href="@{/admin/users/__${user.username}__/edit}" th:text="#{edit.user}"></a></td>
            </tr>
        </th:block>
    </table>
</body>

</html>