$color-primary: #BE1E2D;
$text-color-secondary: #6C757D;
* {
    font-family: 'Roboto';
    scrollbar-width: thin;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/LogoBW.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 40em;
    background-position: left 10% top 50%;
    z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.1rem;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

.bar {
    height: 0.5em;
}

.card-body:hover {
    background: hsl(0, 0%, 97%);
}

.custom-btn-w {
    width: 15rem;
}

.custom-btn-sm-w {
    width: 10rem;
}

.disclaimer {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.fa {
    padding: 10px;
    font-size: 18px;
    width: 37px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    color: $text-color-secondary;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.fa:hover {
    color: white;
    background: $color-primary;
}

.image-container {
    position: relative;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
}

.after {
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
}

.overlay-text {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-container .after {
    transition: .15s ease;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    color: #FFF;
}

.image-container:hover .after {
    opacity: 1;
}

.profile-img {
    width: 13rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .125);
}

.text-justify {
    text-align: justify;
}

.text-sm {
    font-size: small;
}

.text-align-justify {
    text-align: justify;
}

.thumbnail-profile-img {
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .125);
}

.vh-85 {
    height: 85vh;
}