<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="#{title}"></title>
</head>

<body>
    <th:block th:insert="fragments/nav.html"></th:block>
    <!-- Main Content -->
    <main>
        <div class="d-flex flex-column justify-content-center align-items-center p-2" style="height: 85vh;">
            <div class="container card p-5" style="max-width: 450px;">
                <div class="row justify-content-center mb-3">
                    <div class="col-12 text-center">
                        <img class="mb-4" th:src="@{/assets/img/Logo.svg}" alt="AStA Logo" width="100">
                        <h3 th:text="#{password.reset}"></h3>
                    </div>
                </div>
                <form th:method="POST" th:action="@{/reset-password}">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12">
                            <label for="email" class="form-label" th:text="#{email}"></label>
                            <input type="email" class="form-control" th:classappend="${error} ? is-invalid" name="email"
                                id="email" aria-describedby="emailHelp" required>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-justify">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary" th:text="#{submit}">
                                </button>
                            </div>
                            <div id="emailHelp" class="form-text pt-3"><span th:text="#{help.password.reset}"></span> <a
                                    class="link-primary text-decoration-none"
                                    href="mailto:it@asta-hsrm.de">it@asta-hsrm.de</a>.</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>