<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img class="navbar-brand" th:src="@{/assets/img/LogoW.svg}" alt="AStA Logo" width="30">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                        th:classappend="not ${#strings.contains(#httpServletRequest.requestURI, '/admin/')} ? 'active'"
                        th:href="@{/admin}" th:text="#{nav.admin}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/users')} ? 'active'"
                        th:href="@{/admin/users}" th:text="#{nav.users}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/gremien')} ? 'active'"
                        th:href="@{/admin/gremien}" th:text="#{nav.gremien}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/queries')} ? 'active'"
                        th:href="@{/admin/queries}" th:text="#{nav.queries}"></a>
                </li>
                <li class="nav-item d-md-none d-block">
                    <a class="nav-link" th:href=@{/logout} th:text="#{logout}"></a>
                </li>
            </ul>
        </div>
        <div class="d-lg-flex d-none">
            <button th:if="${gremium != null}" class="btn btn-light btn-sm me-md-2" th:text="#{edit.gremium}" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasGremium" aria-controls="offcanvasGremium"></button>
            <a class=" btn btn-outline-light btn-sm" th:href=@{/logout} th:text="#{logout}"></a>
        </div>
    </div>
</nav>