<!DOCTYPE html>

<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/favicon/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" />
    <title th:text="#{title} + ' | ' + #{org}"></title>
    <link th:href="@{/assets/css/stylesheet.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kumbh+Sans" />
</head>

<body>
    <form th:method="POST" th:object="${form}" th:action="@{__${#httpServletRequest.requestURI}__}">
        <input type="hidden" th:field="*{answerId}" />
        <input type="hidden" th:field="*{query}" value="${query}" />
        <table>
            <tr>
                <td  colspan="2">
                    <strong th:text="${query.text}"></strong>
                    <th:block th:each="gremium : ${query.gremien}">
                        <span th:text="|[${gremium.abbr}]|"></span>
                    </th:block>
                </td>
            </tr>
            <tr th:if="${#fields.hasErrors('opinion')}" th:each="err : ${#fields.errors('opinion')}">
                <td th:text="${err}" class="error"></td>
            </tr>
            <tr>
                <td>Opinion:</td>
                <td><input type="radio" id="ok" th:field="*{opinion}" value="1" />
                    <label for="ok">Stimme zu</label><br />
                    <input type="radio" id="neutral" th:field="*{opinion}" value="0" />
                    <label for="neutral">Neutral</label><br />
                    <input type="radio" id="not-ok" th:field="*{opinion}" value="-1" />
                    <label for="not-ok">Stimme nicht zu</label>
                </td>
            </tr>
            <tr th:if="${#fields.hasErrors('reason')}" th:each="err : ${#fields.errors('reason')}">
                <td th:text="${err}" class="error"></td>
            </tr>
            <tr>
                <td>Reason:</td>
                <td><textarea th:field="*{reason}" id="reason"></textarea><br /></td>
            </tr>
            <tr>
                <td><button type="submit" name="save">Save</button></td>
            </tr>
        </table>
    </form>
</body>

</html>