<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|${candidate.firstname} ${candidate.lastname} · #{title}|"></title>
</head>

<body>
    <!-- Main Content -->
    <main>
        <!-- Breadcrumbs -->
        <div class="container py-4 px-4 mb-5">
            <div class="row mb-5">
                <div class="col-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-decoration-none link-danger" th:href="@{/}" th:text="#{nav.home}"></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"
                                th:text="|${candidate.firstname} ${candidate.lastname}|">
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- Edit Profile Button -->
                <div class="col-8 text-end">
                    <a class="btn btn-primary btn-sm my-1" data-bs-toggle="offcanvas" href="#offcanvas" role="button"
                        aria-controls="offcanvas" th:text="#{edit.profile}">
                    </a>
                    <a class="btn btn-outline-secondary btn-sm my-1" th:href=@{/logout} th:text="#{logout}"></a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-3 text-center px-5">
                    <!-- Profile Image Modal Trigger -->
                    <a data-bs-toggle="modal" href="#uploadModal" role="button" aria-controls="uploadModalLabel">
                        <div class="image-container mx-auto">
                            <img class="profile-img"
                                th:src="${candidate.getPhoto() != null} ? @{/api/v1/photo/__${candidate.id}__} : @{/assets/img/placeholder.jpg}"
                                alt="Profile picture" />
                            <div class="after">
                                <span class="overlay-text" th:text="#{edit.photo}"></span>
                            </div>
                        </div>
                    </a>
                    <!-- Gremien Badges (Not clickable) -->
                    <p class="mt-3">
                        <th:block th:each="g : ${candidate.gremien}">
                            <span class="badge bg-light text-secondary" th:text="${g.name}"></span>
                        </th:block>
                    </p>
                </div>
            </div>
            <!-- Candidate Name and Course -->
            <div class="row justify-content-center mb-4">
                <div class="col-12 col-lg-8 text-center">
                    <h2 class="card-text text-"
                        th:text="${candidate.age le 0} ? |${candidate.firstname} ${candidate.lastname}| : |${candidate.firstname} ${candidate.lastname}, ${candidate.age}|">
                    </h2>
                    <h6 class="text-secondary"
                        th:text="${candidate.semester le 0 || candidate.course eq ''} ? #{candidate.student} : |${candidate.semester}. Semester, ${candidate.course}|">
                    </h6>
                </div>
            </div>
            <!-- Bio -->
            <div class="row justify-content-center mb-4" th:if="${candidate.bio != null && candidate.bio != ''}">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 col text-justify">
                    <p th:text="${candidate.bio}"></p>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <!-- Answers -->
            <div class="row justify-content-center" th:if="${candidate.answers != null}">
                <div class="col-12 col-lg-6">
                    <h4 class="mb-4 text-center" th:text="#{candidate.answers}"></h4>
                    <div class="accordion" id="answers">
                        <th:block th:each="a, status : ${candidate.answers}">
                            <div class="accordion-item">
                                <h2 class="accordion-header" th:id="|query-${status.count}|">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        th:attr="data-bs-target=|#answer-${status.count}|, aria-controls=|answer-${status.count}|"
                                        aria-expanded="false" th:text="${a.query.text}">
                                    </button>
                                </h2>
                                <div th:id="|answer-${status.count}|" class="accordion-collapse collapse"
                                    th:attr="aria-labelledby=|query-${status.count}|" data-bs-parent="#answers">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-auto text-start pt-2">
                                                <th:block th:switch="${a.opinion}">
                                                    <strong th:case="'-1'" th:text="#{answer.disagree}"></strong>
                                                    <strong th:case="'0'" th:text="#{answer.neutral}"></strong>
                                                    <strong th:case="'1'" th:text="#{answer.agree}"></strong>
                                                </th:block>
                                                <span th:text="|: ${a.reason}|"></span>
                                            </div>
                                            <div class="col text-center text-lg-end mt-1">
                                                <a class="btn btn-sm btn-primary text-end" th:href="@{/user/answers/__${a.id}__/edit}" th:text="#{edit}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html"></th:block>
    <!-- Edit Profile Image -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:method="POST" th:action="@{/user/info/upload}" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel" th:text="#{edit.photo}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="formFile" class="form-label" th:text="#{edit.photo.cta}"></label>
                            <input class="form-control" name="photo" type="file" id="formFile">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            th:text="#{edit.cancel}"></button>
                        <a class="btn btn-danger" th:href=@{/user/info/upload/del} th:text="#{edit.photo.delete}"></a>
                        <button type="submit" class="btn btn-primary" th:text="#{edit.photo.save}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Profile -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasLabel" th:text="#{edit.profile}"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form th:method="POST" th:action="@{/user/info/edit}" th:object="${form}">
                <div class="mb-3">
                    <label for="firstname" th:text="#{firstname}"></label>
                    <input th:field="*{firstname}" th:placeholder="#{placeholder.firstname}" type="text"
                        class="form-control" id="firstname">
                </div>
                <div class="mb-3">
                    <label for="lastname" th:text="#{lastname}"></label>
                    <input th:field="*{lastname}" th:placeholder="#{placeholder.lastname}" type="text"
                        class="form-control" id="lastname">
                </div>
                <div class="mb-3">
                    <label for="age" th:text="#{age}"></label>
                    <input th:field="*{age}" type="text" class="form-control" id="age" aria-describedby="ageHelp">
                    <div id="ageHelp" class="form-text" th:text="#{help.age}"></div>
                </div>
                <div class="mb-3">
                    <label for="semester" th:text="#{semester}"></label>
                    <input th:field="*{semester}" type="text" class="form-control" id="semester"
                        aria-describedby="semesterHelp">
                    <div id="semesterHelp" class="form-text" th:text="#{help.semester}"></div>
                </div>
                <div class="mb-3">
                    <label for="course" th:text="#{course}"></label>
                    <input th:field="*{course}" th:placeholder="#{placeholder.course}" type="text" class="form-control"
                        id="course">
                </div>
                <div class="mb-4">
                    <label for="bio" th:text="#{bio}"></label>
                    <textarea th:field="*{bio}" type="text" class="form-control" id="bio"
                        th:placeholder="#{placeholder.bio}" style="height: 12rem;"></textarea>
                </div>
                <div class="d-grid gap-3">
                    <button class="btn btn-primary" type="submit" th:text="#{edit.save}"></button>
                </div>
            </form>
        </div>
    </div>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>