<!DOCTYPE html>

<html
  lang="de"
  xml:lang="de"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/assets/favicon/favicon.ico}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" />
    <title th:text="#{title} + ' | ' + #{org}"></title>
    <link th:href="@{/assets/css/stylesheet.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Kumbh+Sans"
    />
  </head>
  <body>
    <h1 th:if="${role} eq 'USER'" th:text="${query.text}"></h1>
    <form th:method="POST" th:object="${form}">
      <input
        th:if="${role} eq 'ADMIN'"
        type="text"
        th:field = "*{queryTxt}"
        id="queryTxt"
      />
      <br />
      <div th:if="${role} eq 'USER'">
        <input type="text" th:field="*{reason}" id="reason"/><br />
        <input type="radio" id="ok" th:field="*{opinion}" value="1" />
        <label for="ok">Stimme zu</label><br />
        <input type="radio" id="neutral" th:field="*{opinion}" value="0" />
        <label for="neutral">Neutral</label><br />
        <input type="radio" id="not-ok" th:field="*{opinion}" value="-1" />
        <label for="not-ok">Stimme nicht zu</label>
      </div>
      <button type="submit" name="save">Save</button>
      <button th:if="${role} eq 'ADMIN'" type="submit" name="del">
        Delete
      </button>
    </form>
  </body>
</html>
