<!-- Footer -->
<footer class="bg-light mt-5">
    <div class="container">
        <div class="row text-secondary pt-4 pb-2">
            <!-- Link to AStA page -->
            <div class="col-12 col-lg-4 pt-1 text-center text-lg-start text-sm mt-2">
                <a class="text-decoration-none text-secondary" target="_blank" href="https://www.asta-hsrm.de/"
                    th:text="#{org}"></a>
            </div>
            <!-- Link to socials -->
            <div class="col-12 col-lg-4 text-center py-2">
                <a href="https://www.facebook.com/AStA.HSRM.Wi/" target="_blank" class="fa fa-facebook mx-2"></a>
                <a href="https://www.youtube.com/channel/UCtLU1LPRCcyutwuvf9ELLkA" target="_blank"
                    class="fa fa-youtube mx-2"></a>
                <a href="https://www.instagram.com/asta_hsrm" target="_blank" class="fa fa-instagram mx-2"></a>
            </div>
            <!-- Link to legal stuff -->
            <div class="col-12 col-lg-4 pt-1 text-center text-lg-end text-sm mt-2">
                <a class="text-decoration-none text-secondary" target="_blank" href="https://www.asta-hsrm.de/impressum"
                    th:text="#{footer.contact}"></a> |
                <a class="text-decoration-none text-secondary" target="_blank"
                    href="https://www.asta-hsrm.de/datenschutz" th:text="#{footer.data}"></a> |
                <a class="text-decoration-none text-secondary" target="_blank"
                    href="https://www.asta-hsrm.de/asta/buero/" th:text="#{footer.office}"></a>
            </div>
        </div>
    </div>
</footer>