<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="#{title}"></title>
</head>

<body>
    <th:block th:insert="fragments/nav.html"></th:block>
    <!-- Main Content -->
    <main>
        <div class="d-flex flex-column justify-content-center align-items-center p-3" style="height: 85vh;">
            <div class="container card pt-5 pb-3" style="max-width: 450px;">
                <div class="row justify-content-center mb-4">
                    <div class="col-12 text-center">
                        <img th:src="@{/assets/img/Logo.svg}" alt="AStA Logo" width="100">
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-12 col-lg-9 text-center error-title">
                        <h1 th:text="#{error.400.title}"></h1>
                        <p th:text="#{error.400.info}"></p>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-7 text-center">
                        <div class="d-grid">
                            <a th:href="@{/}" class="btn btn-primary" th:text="#{back.home}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>