<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|${gremium.abbr.toUpperCase()} · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/nav.html"></th:block>
    <!-- Main Content -->
    <main>
        <div class="container py-4 px-4">
            <!-- Title -->
            <div class="row mb-3 pt-2">
                <div class="col-12 text-center">
                    <h1 th:text="${gremium.name}"></h1>
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div class="col-12 col-lg-8 text-center">
                    <p th:text="${gremium.description}"></p>
                </div>
            </div>
            <!-- Queries Button -->
            <div class="row justify-content-center mb-4">
                <div class="col-12 text-center">
                    <a class="btn btn-primary custom-btn-w" th:href="@{/__${gremium.abbr}__/queries/0}"
                        th:text="#{btn.queries}"></a>
                </div>
            </div>
            <!-- Candidate Heading -->
            <div th:if="${candidates.size() > 0}" class="row justify-content-center mt-5 mb-3">
                <div class="col-12 text-center">
                    <h3 th:text="#{info.candidates}"></h3>
                </div>
            </div>
            <!-- Candidate List -->
            <div class="row mb-2" th:classappend="${candidates.size() > 3} ? justify-content-start: justify-content-center">
                <div th:block th:each="c : ${candidates}" class="col-lg-4 col-md-6 col-12 py-2">
                    <a class="text-decoration-none text-black" th:href="@{/__${gremium.abbr}__/candidates/__${c.id}__}">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-lg-3 text-center text-lg-end my-auto">
                                        <img class="thumbnail-profile-img"
                                            th:src="${c.getPhoto() != null} ? @{/api/v1/photo/__${c.id}__} : @{/assets/img/placeholder.jpg}"
                                            alt="Profile picture" />
                                    </div>
                                    <div class="col-12 col-lg-9 text-center text-lg-start my-auto">
                                        <p class="m-0">
                                            <span class="card-text text-"
                                                th:text="${c.age le 0} ? |${c.firstname} ${c.lastname}| : |${c.firstname} ${c.lastname}, ${c.age}|"></span><span th:if="${c.faculty}" class="ms-1 badge bg-dark text-light" th:text="${c.faculty.abbr}"></span><br />
                                            <span class="text-secondary"
                                                th:text="${c.semester le 0 || c.course eq ''} ? #{candidate.student} : |${c.semester}. Semester, ${c.course}|"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>