<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="|${gremium.abbr.toUpperCase()} · #{title}|"></title>
</head>

<body>
    <th:block th:insert="fragments/nav.html"></th:block>
    <!-- Main Content -->
    <main>
        <div class="container-fluid pt-lg-5 pt-0 justify-content-center">
            <div class="bg-dark rounded-3 mx-auto mt-3 mt-lg-5 mb-3 pb-4 pt-3" style="max-width: 1000px;">
                <!-- Logo-->
                <div class="row mb-4 mt-4 pb-3">
                    <div class="col-12 text-center">
                        <img th:src="@{/assets/img/LogoW.svg}" alt="AStA Logo" width="100">
                    </div>
                </div>
                <!-- Title -->
                <div class="row px-lg-3 pb-4 justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h3 class="text-light" th:text="${query.text}"></h3>
                    </div>
                </div>

                <!-- Answer Buttons -->
                <form th:method="POST" th:action="@{/__${gremium.abbr}__/queries/__${queryIndex}__}"
                    th:object="${queryForm}">
                    <div class="row justify-content-center px-5 pb-2">
                        <div class="col-12 col-lg-3 text-center my-2 text-lg-end">
                            <div class="d-grid">
                                <input th:field="*{opinion}" type="radio" class="btn-check" id="not-ok"
                                    autocomplete="off" value="-1">
                                <label class="btn btn-outline-light" for="not-ok" th:text="#{answer.disagree}"></label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 text-center my-2">
                            <div class="d-grid">
                                <input th:field="*{opinion}" type="radio" class="btn-check" id="neutral"
                                    autocomplete="off" value="0">
                                <label class="btn btn-outline-light" for="neutral" th:text="#{answer.neutral}"></label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 text-center text-lg-start my-2">
                            <div class="d-grid">
                                <input th:field="*{opinion}" type="radio" class="btn-check" id="ok" autocomplete="off"
                                    value="1">
                                <label class="btn btn-outline-light" for="ok" th:text="#{answer.agree}"></label>
                            </div>
                        </div>
                        <input th:field="*{opinion}" type="hidden" id="default" value="2">
                    </div>
            </div>
        </div>
        <!-- Navigation buttons -->
        <div class="container-fluid px-4" style="max-width: 700px;">
            <div class="row justify-content-center">
                <div class="col-4 col-lg-3 text-center my-1 px-1">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-sm btn-secondary" th:disabled="${queryIndex-1} lt 0"
                            name="prev" th:text="#{query.prev}"></button>
                    </div>
                </div>
                <div class="col-4 col-lg-3 text-center my-1 px-1">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-sm btn-secondary"
                            name="skip"
                            th:text="#{query.skip}"></button>
                    </div>
                </div>
                <div class="col-4 col-lg-3 text-center my-1 px-1">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-sm btn-secondary"
                            th:disabled="${queryIndex+1} ge ${queryListSize}" name="next"
                            th:text="#{query.next}"></button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 text-center my-1 px-1">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-sm btn-primary" th:disabled="${!isQueriesAnswered}"
                            name="results" th:text="#{btn.results}"></button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </main>
    <th:block th:insert="fragments/footer.html"></th:block>
    <th:block th:insert="fragments/scripts.html"></th:block>
</body>

</html>