<!DOCTYPE html>

<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head>
    <title>Login-Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/sichtungsstyle.css" />
  </head>

  <body>
    <h1>Login</h1>
    <strong th:text="${error}"></strong><br />
    <form th:action="@{__${#httpServletRequest.requestURI}__}" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" th:name="username" /><br />
      <label for="password">Passwort:</label>
      <input type="password" id="password" th:name="password" /><br />
      <input type="submit" value="OK" />
    </form>
  </body>
</html>
