<!DOCTYPE html>

<html th:lang-xmllang="#{lang}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/head.html"></th:block>
    <title th:text="#{title}"></title>
</head>

<body>
    <!-- Main Content -->
    <main>
        <div class="container-fluid px-5 pt-5 pb-3">
            <div class="row">
                <div class="col-12 text-center">
                    <img th:src="@{/assets/img/Logo.svg}" alt="AStA Logo" width="100">
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-12 text-center mb-3">
                    <h1 th:text="#{mail.welcome.title}"></h1>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-lg-5 text-justify">
                    <p>
                        <span th:text="|#{hello} ${fullname},|"></span>
                    </p>
                    <p>
                        <span th:text="#{mail.welcome.info}"></span>
                    </p>
                    <p>
                        <span th:text="#{mail.welcome.signature}"></span>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-lg-2 d-grid text-center">
                    <a class="btn btn-primary" th:href="@{__${url}__}" th:text="#{password.reset}"></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>