<!DOCTYPE html>

<!-- TODO Make 'lang' and 'xml:lang' attributes responsive!-->
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/assets/favicon/favicon.ico}"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="text/html; charset=utf-8" />
    <title th:text="#{title} + ' | ' + #{org}"></title>
    <link th:href="@{/assets/css/stylesheet.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Poppins"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Kumbh+Sans"
    />
  </head>
  <body>
    <div th:unless="${gremium}">
      <h2>Create new Gremium</h2>
      <form method="POST" th:action="@{__${#httpServletRequest.requestURI}__}" enctype="multipart/form-data">
        <label for="gremium-name">Gremium-Name: </label>
        <input type="text" value="" id="gremium-name" name="gremium-name"><br/>
        <label for="gremium-abbr">Gremium-Abkürzung: </label>
        <input type="text" value="" id="gremium-abbr" name="gremium-abbr"><br/>
        <label for="gremium-desc">Beschreibung: </label>
        <textarea rows="4" cols="50" value="" id="gremium-desc" name="gremium-desc"></textarea><br/>
        <input type="submit" value="Save">
      </form>
    </div>
    <div th:if="${gremium}">
      <h2 th:text="'Edit ' + ${gremium.name}"></h2>
      <form method="POST" th:action="@{__${#httpServletRequest.requestURI}__}" enctype="multipart/form-data">
        <label for="gremium-name">Gremium-Name: </label>
        <input type="text" th:value="${gremium.name}" id="gremium-name" name="gremium-name"><br/>
        <label for="gremium-abbr">Gremium-Abkürzung: </label>
        <input type="text" th:value="${gremium.name}" id="gremium-abbr" name="gremium-abbr"><br/>
        <label for="gremium-desc">Beschreibung: </label>
        <textarea rows="4" cols="50" th:value="${gremium.description}" id="gremium-desc" name="gremium-desc"></textarea><br/>
        <input type="submit" value="Save">
      </form>
    </div>

    <a th:href=@{/admin}>Back to admin area</a><br/>
    <a th:href=@{/logout}>Logout</a>
  </body>
</html>
